.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px;
	margin: auto;
}
.headerNav {
	display: flex;
}
.headerSignup {
	color: #0065fc;
}
.headerImg {
	padding: 0 20px;
}
nav {
	display: block;
}
body {
	font-family: "raleway", "sans serif";
	margin: 0;
}
.headerNavLink {
	font-weight: 500;
	text-align: center;
	border-bottom: 3px transparent solid;

	padding: 2rem;
}
a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	background-color: transparent;
}
